---

- name: add googlechrome apt key
  apt_key:
    url: "{{ googlechrome_apt_key }}"

- name: add google chrome repo
  apt_repository:
    repo: "{{ googlechrome_repo }}"
    state: present
    filename: google-chrome

- name: install latest google chrome
  apt:
    name: google-chrome-stable
    force_apt_get: yes

...
