# PostgreSQL Client Authentication Configuration File (Ansible)
# TYPE  DATABASE        USER            ADDRESS                 METHOD
{% if postgresql_server_auth_local %}
local   all             all                                     peer
host    all             all             127.0.0.1/32            md5
host    all             all             ::1/128                 md5
{% endif %}

{% for item in postgresql_server_auth %}
host {{ item.database }} {{ item.user }} {{ item.address }} {{ item.method | default("md5") }}
{% endfor %}
