---

- name: add hashicorp apt key
  ansible.builtin.apt_key:
    url: "{{ hashicorp_apt_key_url }}"
    keyring: "{{ hashicorp_apt_key_keyring }}"

- name: add hashicorp repo for ubuntu 22.04
  ansible.builtin.apt_repository:
    repo: "{{ hashicorp_repo_jammy }}"
    state: present
    filename: hashicorp
  when: ansible_distribution_release == "jammy"

- name: prioritize packages from hashicorp apt repo
  ansible.builtin.copy:
    src: etc/apt/preferences.d/hashicorp.pref
    dest: /etc/apt/preferences.d/hashicorp.pref
    owner: root
    group: root
    mode: 0644

- name: install hashicorp packages
  ansible.builtin.apt:
    name: "{{ hashicorp_packages }}"
    force_apt_get: yes

...
